<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
		<sectionGroup name="userSettings"
       type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="PicDedupe.Net.My.MySettings"
      type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      allowExeDefinition="MachineToLocalUser"
      requirePermission="false" />
        </sectionGroup>
    </configSections>
	<userSettings>
		<PicDedupe.Net.My.MySettings>
   <setting name="LastSearchPath" serializeAs="String">
    <value />
   </setting>
   <setting name="LastMoveDoubletsToPath" serializeAs="String">
    <value />
   </setting>
   <setting name="TakeFileOfCertainSizeIntoAccount" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TakeFilenameDifferencesIntoAccount" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FileSizeToTakeIntoAccountInMBytes" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="FilesizeForNameDifferencesToTakeIntoAccountInMBytes"
    serializeAs="String">
    <value>1</value>
   </setting>
  </PicDedupe.Net.My.MySettings>
	</userSettings>
</configuration>
